.containerFormRicerca {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formRicerca input, select {
    padding: 5px;
    margin: 0 10px;
    width: 250px;
}
.btn-success {
    padding: 5px;
}
#resetCerca {
    width: 75px;
}
.containerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}